body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* You may consider removing this line */
    background: linear-gradient(14deg, #582C4D, #A26769, #D5B9B2);
    background-size: 600% 100%; /* Adjusted the background size */
    animation: moveBackground 6s linear 3s infinite alternate; /* Ensure the animation name is defined */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3a2636a4;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

#about-text {
    background-color: rgba(236, 226, 208, 0.473);
    color: #3a2636d3;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    cursor: default;
    height: 500px;
    width: 900px;
    border: dashed;
    border-color: rgb(221, 213, 208);
}

.back-button {
    background-color: rgba(236, 226, 208, 0.44);
    color: #3a2636a4;
    border: dashed;
    border-color: rgb(221, 213, 208);
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.back-button:hover {
    background-color: #A26769;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
