body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(14deg, #582C4D, #A26769, #D5B9B2);
    background-size: 300% 100%;
    animation: 3s linear 1s infinite alternate moveBackground;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3a2636a4;
    font-size: 5em;
    text-align: center;
    position: relative;
}

/* Tooltip style */
.tooltip {
    cursor: default;
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(236, 226, 208, 0.473);
    color: #000000;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    bottom: -200%;
    left: 170%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: 14px;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.content {
    background-color: rgba(236, 226, 208, 0.44);
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.contacts-text {
    text-align: center;
    color: #3a2636a4; /* Adjust color as needed */
    font-size: 0.4em; /* Adjust size as needed */
    margin-bottom: 5px; /* Adjust spacing as needed */
    position: absolute;
    top: 50%; /* Adjust the top position to position it above your social media links */
    left: 50%;
    transform: translateX(-50%);
}

.email {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

#titleBanner {
    background: linear-gradient(90deg, rgb(221, 213, 208) 50%, transparent 50%), linear-gradient(90deg, rgb(221, 213, 208) 50%, transparent 50%), linear-gradient(0deg, rgb(221, 213, 208) 50%, transparent 50%), linear-gradient(0deg, rgb(221, 213, 208) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
    padding: 10px;
    animation: border-dance 20s infinite linear;
    border-radius: 15px;
}

.about-me-button {
    position: absolute;
    top: 110%;
    left: 31%;
    background-color: rgba(236, 226, 208, 0.44);
    color: #3a2636a4;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    border: dashed;
    border-color: rgb(221, 213, 208);
}

.about-me-button:hover {
    background-color: #A26769; /* Darker color on hover */
}
    


@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}

.github, .insta, .discord, .email{
    width: 100px;
    background-color: rgba(236, 226, 208, 0.44);
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
}

/* Change cursor to pointer when hovering over clickable images */
.github, .insta, .discord {
    cursor: pointer;
}

/* Menu icon */
.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.menu-icon img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: rgba(236, 226, 208, 0.44);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 80px;
    left: 0;
    width: 400px; /* Adjust width */
    z-index: 998;
    font-size: 20px;
    opacity: 0;
    border: dashed;
    border-color: rgb(221, 213, 208);
}

.menu-content.show {
    display: block;
    opacity: 1;
}

.menu-content ul {
    padding: 0;
}

.menu-content ul li {
    list-style: none;
    margin-bottom: 10px;
}

.menu-content ul li a {
    display: block;
    padding: 10px;
    color: #3a2636a4;
    text-decoration: none;
}

.menu-content ul li.github a {
    background: url('github.png') left center no-repeat;
    background-size: 30px;
    padding-left: 40px;
}

.menu-content ul li.email {
    background: none; /* Remove the background */
    padding-left: 0; /* Remove the left padding */
    margin-bottom: 10px; /* Add some bottom margin */
    line-height: inherit; /* Inherit line height */
}

.menu-content ul li.email a {
    display: inline-block; /* Display as block to align properly */
    padding: 10px 35px; /* Add padding for the mail icon */
    background: url('mail.png') left center no-repeat; /* Set email icon as background */
    background-size: 30px; /* Adjust as needed */
    color: #3a2636a4; /* Change the text color of the link */
    text-decoration: none; /* Remove underline from the link */
}
