html {
    width: 100%;
    height: 100%;

    font-size: 170px;
    text-align: center;
    color: #3a2636a4;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Apply the background animation to the linear gradient */
    background: linear-gradient(14deg, #582C4D, #A26769, #D5B9B2);
    background-size: 300% 100%;
    animation: 3s linear 1s infinite alternate moveBackground; /* Only 'moveBackground' animation */
}

.flex-center {
    display: flex;
    justify-content: center;
}

:root {
    --border: #ddd5d0;
    --background-color: #ece2d071;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0; /* Start position */
    }
    100% {
        background-position: 100% 0; /* End position */
    }
}

#titleBanner {
  width: max-content;
  background: linear-gradient(90deg, purple 50%, transparent 50%), linear-gradient(90deg, purple 50%, transparent 50%), linear-gradient(0deg, purple 50%, transparent 50%), linear-gradient(0deg, purple 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  padding: 10px;
  animation: border-dance 20s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}