.centerBoxContainer {

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: grey;

    display: flex;
    align-items: center;
    justify-content: center;

}

.centerBox {

    background-color: rgba(0, 0, 0, 0.295);

    position: sticky;

    width: 30rem;
    height: 30rem;

}

.title {
    color: white;
  
    align-items: center;

}