.centerBoxContainer {

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    /* background-color: rgb(184, 184, 184); */

    display: flex;
    align-items: center;
    justify-content: center;

}

.centerBox {

    display: flex;
    align-items: center;
    border: dashed;
    border-radius: 10%;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.795);
    position: sticky;
    width: 32rem;
    margin-top: 8rem;
    height: 32rem;
    flex-direction: column;

    animation: animateIn 0.5s cubic-bezier(.175, .885, .32, 1.275) both;

}

.title {
    margin: 2%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title img {
    scale: 0.9;
    border-radius: 100%;
    border: dashed;
}

.paragraph {
    color: white;
    font-size: 1.16rem;
    margin: -3% 5% 0 5%;
    text-align: center;
}

@keyframes animateIn {

    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1)
    }

}