.centerBoxContainer {

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    /* background-color: rgb(184, 184, 184); */

    display: flex;
    align-items: center;
    justify-content: center;

}

.centerBox {

    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed;
    border-radius: 10%;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.795);
    position: sticky;
    width: 30rem;
    height: 30rem;

}

.title {
    color: white;
    font-size: 25px;

}